*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'poppins',sans-serif;
}

body
{
	color:#ededed;
	overflow: hidden;
}

.header
{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
background: transparent;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}

.logo
{
position: relative;
font-size: 25px;
color: white;
text-decoration: none;
font-weight: 600;
cursor: default;
animation: slideRight 1s ease  forwards;
left: 100px;
}

a span{
	color:red;
}

a span:before{
	content:'';
	position: absolute;
	left: 0;
	width: 170%;
	height: 170%;
	background: linear-gradient(90deg,transparent 0%, rgb(0, 0, 0) 5%, rgb(0, 0, 0) 100%);
	animation: animater 5.5s linear forwards;
	animation-delay: 2s;
}

@keyframes animater {
0%{
left: 110%;
}
100%{
	left: -20%;
}
}

video{
	position: absolute;
	top: 0;
	left: 200px;
	width: 15%;
	height: 80%;
	object-fit: cover;
	z-index: 2;
	mix-blend-mode: screen;

}
.navbar a
{
display: inline-block;
font-size: 25px;
color: #fff;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: .3s;
opacity: 0;
animation: slideTop .5s ease forwards;
animation-delay: calc(.2s*var(--i));
}

.navbar a:hover
{
	color: #0ef;
}

.home
{
position: relative;
width: 100%;
justify-content: center;
height: 100vh;
background-color: rgb(0, 0, 0);
background-size: cover;
background-position: center;
display: flex;
align-items: center;
padding: 70px 0;

}


 .circle {
	position: relative;
	width: 600px;
	height: 600px;
}

.circle::before {
	content: '';
	position: absolute;
	top: 100px;
	left: 100px;
	right: 100px;
	bottom: 100px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 50px #0f0;
	animation: animate 4s linear infinite;
		background-image: url(/Portfolio_Website/img/vRJlEKz69jQ.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			
}


@keyframes animate {
	
	25% {
		box-shadow: 0 0 30px rgb(132, 0, 255),
    0 0 40px rgb(132, 0, 255);
	}

	50% {
		box-shadow: 0 0 40px rgb(255, 196, 0),
			 0 0 50px rgb(255, 196, 0);
	}

}

.home-content
{
	max-width: 600px;
}

.home-content h3
{
	font-size: 32px;
	font-weight: 700;
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
	margin-bottom: 30px;
	animation: slideTop 1s ease forwards;
	animation-delay: .7s;
}
.home-content h3 span{
	color: #0ef;
}
.home-content h1
{
font-size: 56px;
font-weight: 700;
margin: -3px 0;
opacity: 0;
animation: slideLeft is ease forwards;
animation-delay: 1s;
}

.home-content p
{
	font-size: 20px;
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1s;
}

.home-sci a
{
	
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 2px solid #0ef;
	border-radius: 50%;
	font-size: 20px;
	color: #0ef;
	text-decoration: none;
	transition: .5s ease;
		opacity: 0;
			animation: slideLeft 1s ease forwards;
			animation-delay: cals(.2s*var(--i));
	margin: 30px 15px 30px 0;
}

.home-sci a:hover{
	background: #0ef;
	color: #081b29;
	box-shadow: 0 0 20px #0ef;
}

.btn-box {
	display: inline-block;
	padding: 12px 20px;
	background: #0ef;
	border-radius: 40px;
	font-size: 16px;
	color: #081b29;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 600;
	opacity: 0;
	animation: slideTop 1s ease forwards;
animation-delay: 2s;
box-shadow: 0 0 5px #0ef,
0 0 25px #0ef ;
}

.btn-box:hover{
	box-shadow:  0 0 5px cyan,
	0 0 25px cyan,0 0 50px cyan,
	0 0 100px cyan, 0 0 200px cyan;
}

@keyframes slideRight{
0%{
	transform: translateX(-100px);
	opacity: 0;
}
100%{
	transform: translate(0px);
	opacity: 1;
}
}



@keyframes slideLeft {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}

	100% {
		transform: translate(0px);
		opacity: 1;
	}
}

@keyframes slideTop {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}




@keyframes slideBottom {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

